.nav {
    width: 100%;
    background-color: #B86730;
    align-content: center;
}
.nav ul {
    display: flex;
}
.nav ul li, .btnLinksNav {
    list-style: none;
    text-decoration: none;
    margin: 1em;
    font-family: "Overpass", sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: none;
    border-color: none;
    align-items: center;
}
.nav ul :hover {
    color: #FAAC02;
}
