.counter {
    border-radius: 30px;
    border: none;
}

.addRestContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.counter .btn-add {
    font-family: "Overpass", sans-serif;
    font-size: 1.2em;
    padding: 0.3em;
    margin: 1em auto;
    background-color: #B86730;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.counter .btn-add:hover {
    background-color: #724121;
    cursor: pointer;
}

.counter .btn {
    font-family: "Overpass", sans-serif;
    font-size: 1.1em;
    padding: 0.5em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #B86730;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
}
.counter .quant {
    background-color: none;
    border-radius: 0;
    border: none;
    width: 60px;
    color: #D96281;
    justify-content: center;
    
}
  